 <div class="container">

  <h3>Wines <%= @user.name %> has tasted</h3>


<table cellspacing="0">
  <tr>
    <th>Wine</th>
    <th>Vineyard</th>
    <th>Year</th>
    <th></th>
    <th></th>
  </tr>
    <% @user.wines.each do |wine| %>
    <tr>
    <td><%= wine.title %></td>
    <td><%= wine.vineyard %></td>
    <td><%= wine.year %></td>      
    <td><%= link_to 'Notes', user_wine_path(wine.user_id, wine.id) %></td>
    <td><%= link_to 'Edit', edit_user_wine_path(wine.user_id, wine.id) %></td>
  </tr>

  </tr>
<% end %>
</table>
<p><p>
<%= link_to 'Back', users_path %>
<div>
<h3>Add Wine:</h3>
<%= form_for([@user, @user.wines.build]) do |f| %>

    <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
    <%= f.label :Notes %><br>
    <%= f.text_area :text %>
    <%= f.label :Vineyard %><br>
    <%= f.text_field :vineyard %>
    <%= f.label :Year %><br>
    <%= f.number_field :year %>
</p>

</div>
    <%= f.submit %>
</div>
 
  <% end %>


  <!-- google analytics --> 
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-43866019-1', 'serene-brook-4601.herokuapp.com');
  ga('send', 'pageview');

</script>


