<div class="container">
  <h3>Wines I have tasted</h3>

<table cellspacing="0">
  <tr>
    <th>Wine</th>
    <th>Vineyard</th>
    <th>Year</th>
    <th></th>
    <th></th>
  </tr>
 
  <% @wine.each do |wine| %>
    <tr>
      <td><%= wine.title %></td>
      <td><%= wine.vineyard %></td>
      <td><%= wine.year %></td>      
      <td><%= link_to 'Notes', user_wine_path(wine.user_id, wine.id) %></td>
      <td><%= link_to 'Edit', edit_user_wine_path(wine.user_id, wine.id) %></td>
    </tr>
  <% end %>
</table>

</div>
